<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<h1>
    <a href="/"><img src="images/balloons.png" width="50" valign="middle">Bimemo</a>
</h1>
<div class="box">
    <h2>Ready to start building your Bimemo?</h2>
    <p>SignUp</p>
    <form id="signupform" method="POST" action="/signup">
        <div class="labels">
            <label>Username <input name="username" type="text" required></label>
            <label>Email <input name="email" type="text" required></label>
            <label>Password <input name="password" type="password" required></label>
            <div class="userBtn"><button type="submit">SignUp</button></div>
        </div>
    </form>
    <p>Already signed up?<a href="/login">Login here!</a></p>
    <% if (typeof errorMessage !=="undefined" ) { %>
        <p>
            <%= errorMessage%>
        </p>
        <% } %>
</div>