<%- include('../header.ejs') %>

<div class="content ">
    <h2>Ready to start building your Bimemo?</h2>
    <form method="POST" action="/signup">
        <div class="form-row">
            <label for="username">Username</label>
            <input name="username" id="username" type="text" required>
        </div>
        <div class="form-row">
            <label>Email</label>
            <input name="email" type="text" required>
        </div>
        <div class="form-row">
            <label>Password</label>
            <input name="password" type="password" required>
        </div>
        <div class="form-row">
            <label></label>
            <button type="submit" class="btn">SignUp</button>
        </div>
    </form>
    <p>Already signed up? <a href="/login">Login here!</a></p>
    <% if (typeof errorMessage !=="undefined" ) { %>
        <p>
            <%= errorMessage%>
        </p>
    <% } %>
</div>

<%- include('../footer.ejs') %>