<%- include('header.ejs') %>

<div class="content flex">
    <p><strong>Welcome to your personal birthday collector!</strong></p>
    <p><strong>The place where you can keep the</strong> </p>
    <p> <strong>record of the most important day of you special ones.</strong></p>
    <h2>Click to create your collection!</h2>
    <a href="/signup" class="btn">SignUp</a>
    <p>Already have a collection? <a href="/login">Login here!</a></p>
</div>

<%- include('footer.ejs') %>