<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="box">
    <h1><img src="images/balloons.png" width="50" valign="middle">Bimemo</h1>
    <p><strong>Welcome to your personal birthday collector!</strong></p>
    <p><strong>The place where you can keep the</strong> </p>
    <p> <strong>record of the most important day of you special ones.</strong></p>

    <h2>Click to create your collection!</h2>
    <button><a href="/signup">SignUp</a></button>
    <p>Already have a collection?<a href="/login">Login here!</a></p>
</div>