<h1>Birthday Collector</h1>
<p>welcome to the place where you can keep the 
    record of the most important day of you special ones.</p>

<h2>Click to create your collection!</h2>
<button><a href="/signup">SignUp</a></button>
<p>Already have a collection?<a href="/login">Login here!</a></p>
