<%- include('../header.ejs') %>

<%- include('../navigation.ejs', { title: "Let's create a birthday!" }) %>

<div class="content">

    <p>Make sure you provide the right details</p>

    <form method="POST" action="/profile/<%= username %>/new">
        <div class="form-row">
            <label>Name</label>
            <input name="name" type="text">
        </div>
        <div class="form-row">
            <label>Date</label>
            <input name="birthday" type="date">
        </div>
        <div class="form-row">
            <label for="relationship">Relationship</label>
            <select id="relationship" name="relationship">
                <option>Spouse</option>
                <option>Parent</option>
                <option>Child</option>
                <option>Sibling</option>
                <option>Friend</option>
                <option>Relative</option>
                <option>Co-worker</option>
                <option>Manager/boss</option>
                <option>Acquaintances</option>
            </select>
        </div>
        <div class="form-row">
            <label for="gender">Gender</label>
            <select id="gender" name="gender">
                <option>Female</option>
                <option>Male</option>
                <option>Neutral</option>
            </select>
        </div>
        <div class="form-row">
            <label>Note</label>
            <input name="note" type="text">
        </div>
        <div class="form-row">
            <label></label>
            <button type="submit" class="btn">Add</button>
        </div>
    </form>

</div>

<%- include('../footer.ejs') %>