<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h2>Profile</h2>
<a href="">Logout</a>
<p>Welcome!<%= existingUser.username %></p>
<button><a href='newBday'>Add a birthday!</a></button>
<p ></p>
    
</body>
<script src="/js/script.js"></script>
</html>
