
body {
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("/images/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex; 
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin: 0

}

 .box{
 /*width: 350px;
 height: 150px;*/
  margin: 10px;
  padding: 25px;
  border: 5px solid white;} 


.singup{ 
  padding: 40px;
  background: rgba(215, 238, 250, 0.23);

  width: 60%;
  display: flex; 
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
#singupform{
    display: flex; 
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

a {
  color: #00b7ff;
}

h2 {
  color:aquamarine;
}
