body {
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("/images/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.singup{ display: flex; 
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
#singupform{
    display: flex; 
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
a {
  color: #00b7ff;
}

h2 {
  color:aquamarine;
}
